@import "_global.scss";
@import "_fonts.scss";
@import "_utils.scss";

@media screen and (max-width: 767px) {
    body,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0;
    }

    #open-menu {
        display: block;
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        img {
            width: 40px;
            height: 20px;
        }
    }

    #opened-menu {
        position: fixed;
        background-color: white;
        width: 100%; //425px;
        height: 642px;
        box-shadow: 0px 4px 4px 0px #00000040;

        .close-menu {
            margin-top: 21px;
            margin-left: 58.59%; //249px;
        }

        .opened-header {
            width: 40.94%; //174px;
            height: 485px;
            margin-top: 17px;
            margin-left: 29.65%;//126px;

            span {
                margin: 0 auto;
                font-size: 20px;
                font-weight: 700;

                a {
                    color: #2D66EE;
                }
            }

            .opened-content {
                width: 60.34%; //105px;
                height: 259px;
                margin: 0 auto;
                font-size: 24px;
                font-weight: 400;
            }

            .opened-contacts {
                flex-direction: column;
                width: 100%;//174px;
                height: 104px;
            }
        }
    }

    #main-header {
        width: 96.24%; //409px;
        height: 90px;
        margin: auto;
        margin-top: 20px;
        padding: 35px auto;

        .contacts {
            display: none;
        }

        .logo {
            margin-left: 22.25%;//91px;
            width: 35%;//120px;
            height: 18px;
            font-size: 20px;
            text-align: center;
        }
    }

    .welcome {
        max-width: 100%;//425px;
        height: 1267px;

        .info {
            width: 90.12%; //383px;
            margin-left: 5.65%;//24px;
        }

        .callback-form {
            width: 92.47%;//393px;
            margin-top: 536px;
            margin-left: 5.65%;//24px;
            padding: 7.53% 15.3% 7.5% 7.76%;//32px 65px 32px 33px;

            h3 {
                width: 85%; //295px;
            }

            form {
                width: 85%; //295px;
            }

            label {
                width: 75.93%; //224px;
            }

            .button {
                width: 50%; //155px;
                height: fit-content;
                text-align: center;
            }

            .input {
                width: 100%;
            }
        }

        .background-image {
            width: 100%;//450px;
            height: 800px;
            left: 12%;//70px;
            top: 27%;//350px;

            .left-column {
                width: 52.22%;//235px;
                height: 800px;
                background-size: 100%;//235px;
            }

            .right-column {
                width: 32.94%;//140px;
                height: 800px;
                background-size: 100%;//140px;
                left: -40px;
            }
        }
    }

    .development-cycle {
        display: flex;
        flex-direction: column;
        height: 824px;
    }

    .used-technologies {
        height: 400px;
        width: 100%;
    }

    .header-used-technologies {
        margin: 32px 0 0 4%;//17px;

        h2, p {
            margin-left: 0;

        }
    }

    .content-used-technologies {
        margin: 32px 0 0 4%;//17px;
        width: 75.29%;//320px;

        .content-used-technologies-mobile,
        .content-used-technologies-web {
            width: 100%;

            p {
                width: 100%;
            }
        }
    }

    .list-developments {
        height: 340px;
        margin: 32px 0 0 4%;//17px;
    }

    .list-industries {
        height: 1622px;

        h2 {
            width: 89.41%;//380px;
            margin-left: 3.76%;//16px;
            margin-top: 31px;
        }

        .items {
            width: 89.82%;//369px;
            margin-top: 27px;
            margin-left: 4.23%;//18px;
    
            .item {
                p {
                    width: 28.73%;//106px;
                    font-size: 14px;
                }
            }
        }

        .projects {
            width: 100%;
            height: 879px;
            margin: 0;
            margin-top: 32px;

            h2 {
                width: 80%;//340px;
                height: 40px;
                margin-top: 0;
                margin-left: 3.76%;//16px;
            }
    
            p {
                width: 80%;//340px;
                margin-top: 31px;
                margin-left: 3.76%;//16px;
            }

            .list-with-button {
                width: 91.76%;//390px;
                margin-top: 32px;

                .list-projects {
                    width: 76.92%;//300px;
                    flex-wrap: wrap;
                    margin-left: 4.1%;//16px;

                    p {
                        margin: 11px 11px 0 0;
                    }
                }
    
                button {
                    display: none;
                }
            }

            .i-teka-mobile {
                display: block;
                width: 92.47%;//393px;
                margin: auto;
                margin-top: 32px;
            }
    
            .content {
                width: 100%;
                height: 375px;
                background: none;
                margin-top: 32px;
    
                h2 {
                    margin-left: 3.76%;//16px;
                }
    
                .main-content {
                    height: 315px;
                    margin-top: 20px;

                    p {
                        width: 92.47%;//393px;
                        margin: 0 7.06%;//30px;
                    }
    
                    .location-industry, .users, .download {
                        margin-left: 7.06%;//30px;
                    }
                }
            }

            .button-mobile {
                display: block;
                width: 258px;
                height: 40px;
                margin: auto;
                margin-top: 32px;
                border-radius: 8px;
                border: none;
                color: #FFFFFF;
                background-color: #2D66EE;
            }
        }
    }

    .discuss {
        height: 541px;
    
        div {
            width: 100%;
            height: 541px;
            margin: 0;
    
            .discription {
                width: 80.94%;//344px;
                margin-top: 34px;
                margin-left:  3.76%;//16px;
    
                h2 {
                    width: 56.68%;//195px;
                }
            }
    
            .discuss-form {
                width: 92.47%;//393px;
                height: 300px;
                margin: auto;
                margin-top: 20px;
                padding: 36px 4%;//17px;

                form {
                    width: 91.09%;//358px;
                    height: 228px;

                    .inputs {
                        flex-direction: column;
                        width: 100%;
                        height: 172px;

                        label {
                            width: 100%;
                            height: 78px;
                            margin: 0;
                        }

                        .input {
                            width: 100%;
                        }
                    }
        
                    .button {
                        float: none;
                        width: 255px;
                        margin: 16px 52px;
                    }
                }
            }
        }
    }

    .application-developments-stages {
        div {
            height: 1340px;
    
            h2 {
                width: 374px;
                margin-left: 19px;
            }
    
            .cards {
                width: 88%;//394px;
                height: 1192px;
                margin: auto;
    
                .group-cards {
                    width: 100%;
                    height: 580px;
    
                    .card {
                        padding: 24px 0 0 6.09%;//24px;
    
                        p {
                            width: 74.89%;//504px;
                            margin-top: 16px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .our-team {
        height: 646px;
    
        div {
            width: 100%;
            height: 100%;
            margin: 0;
    
            .discription {
                width: 100%;
                height: 616px;
                justify-content: space-between;
    
                h2 {
                    margin-left: 16px;
                    margin-top: 28px;
                }
    
                p {
                    width: 88.47%;//376px;
                    height: 60px;
                    margin-left: 3.76%;//16px;
                }

                .background-image-tablet {
                    display: block;
                    width: fit-content;
                    height: fit-content;
                    margin: 0 auto;

                    img {
                        height: 263px;
                    }
                }
    
                .items {
                    width: 88%;//374px;
                    height: 58px;
                    margin-left: 4%;//17px;
    
                    .item {
                        height: 100%;
                        margin: 0;
                        
                        span {
                            font-size: 28px;
                            height: 24px;
                            line-height: normal;
                        }

                        p {
                            height: 14px;
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }

                .another-p {
                    width: 84.47%;//359px;
                    margin-left: 4%;//17px;
                }
            }
    
            .background-image-desktop {
                display: none;
            }
        }
    }

    .get-book {
        height: 923px;
        padding: 0;
    
        div {
            width: 100%;
            height: 100%;

            .get-book-form {
                width: 100%;
                height: 100%;
    
                h2 {
                    width: 78.35%;//333px;
                    height: 80px;
                    margin: auto;
                    margin-top: 49px;
                    line-height: 40px;
                }

                .image-mobile {
                    display: block;
                    width: fit-content;
                    height: fit-content;

                    img {
                        width: 200px;
                        margin: auto;
                    }
                }
    
                form {
                    width: 78.82%;//335px;
                    height: 431px;
                    margin: auto;
                    padding: 32px 7.53%;//32px;
    
                    .inputs {
                        width: 100%;//271px;
                        height: 320px;
                        margin: 0;
    
                        label {
                            margin: 0;
                        }
                    }
    
                    .button {
                        margin: 0;
                    }
                }
            }
    
            .image {
                display: none;
            }

            .image-tablet {
                display: none;
            }
        }
    }
    
    .faq {
        height: fit-content;
        padding-top: 20px;
    
        h2 {
            font-size: 28px;
            height: 40px;
            margin-left: 5%;//16px;
        }
    
        .items {
            flex-direction: column;
            width: 92.47%;//393px;
            height: fit-content;
            grid-gap: 0;
            margin-top: 32px;
            padding-bottom: 32px;
    
            .group-items {
                width: 100%;
                height: fit-content;
    
                .item {
                    .content {
                        width: fit-content;
    
                        h3 {
                            font-size: 20px;
                            margin: 32px 0;
                        }
                    }
                }
    
                .open-item {
                    height: fit-content;

                    .content {
                        h3 {
                            margin: 0;
                            margin: 10px 0 32px 0;
                        }

                        p {
                            font-size: 16px;
                            margin: 0;
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 82.35%;//350px;
        padding: 0;

        .footer {
            width: 100%; //425px;
            height: 350px;
            border-radius: 0;
    
            .items {
                width: 88.23%;//375px;
                height: 142px;
                margin: 52px 0 0 8.5%;//36px;
                flex-wrap: wrap;
                justify-content: space-between;
    
                .item {
                    width: 41%;//154px;
                    height: 54px;
                    margin: 0;
    
                    p {
                        font-size: 14px;
                    }
                }
            }
    
            .world-footer {
                margin-top: 52px;
            }
        }
    }
}