html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"), local("Inter Bold"), url("/static/fonts/Inter-Bold.ttf") format("truetype"), url("/static/fonts/Inter-Bold.woff2") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Medium"), local("Inter Medium"), url("/static/fonts/Inter-Medium.ttf") format("truetype"), url("/static/fonts/Inter-Medium.woff2") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"), local("Inter Regular"), url("/static/fonts/Inter-Regular.ttf") format("truetype"), url("/static/fonts/Inter-Regular.woff2") format("woff");
  font-weight: 400;
}
.bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  body,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  #open-menu {
    display: block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  #open-menu img {
    width: 40px;
    height: 20px;
  }
  #opened-menu {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 642px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  #opened-menu .close-menu {
    margin-top: 21px;
    margin-left: 58.59%;
  }
  #opened-menu .opened-header {
    width: 40.94%;
    height: 485px;
    margin-top: 17px;
    margin-left: 29.65%;
  }
  #opened-menu .opened-header span {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
  }
  #opened-menu .opened-header span a {
    color: #2D66EE;
  }
  #opened-menu .opened-header .opened-content {
    width: 60.34%;
    height: 259px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
  }
  #opened-menu .opened-header .opened-contacts {
    flex-direction: column;
    width: 100%;
    height: 104px;
  }
  #main-header {
    width: 96.24%;
    height: 90px;
    margin: auto;
    margin-top: 20px;
    padding: 35px auto;
  }
  #main-header .contacts {
    display: none;
  }
  #main-header .logo {
    margin-left: 22.25%;
    width: 35%;
    height: 18px;
    font-size: 20px;
    text-align: center;
  }
  .welcome {
    max-width: 100%;
    height: 1267px;
  }
  .welcome .info {
    width: 90.12%;
    margin-left: 5.65%;
  }
  .welcome .callback-form {
    width: 92.47%;
    margin-top: 536px;
    margin-left: 5.65%;
    padding: 7.53% 15.3% 7.5% 7.76%;
  }
  .welcome .callback-form h3 {
    width: 85%;
  }
  .welcome .callback-form form {
    width: 85%;
  }
  .welcome .callback-form label {
    width: 75.93%;
  }
  .welcome .callback-form .button {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  .welcome .callback-form .input {
    width: 100%;
  }
  .welcome .background-image {
    width: 100%;
    height: 800px;
    left: 12%;
    top: 27%;
  }
  .welcome .background-image .left-column {
    width: 52.22%;
    height: 800px;
    background-size: 100%;
  }
  .welcome .background-image .right-column {
    width: 32.94%;
    height: 800px;
    background-size: 100%;
    left: -40px;
  }
  .development-cycle {
    display: flex;
    flex-direction: column;
    height: 824px;
  }
  .used-technologies {
    height: 400px;
    width: 100%;
  }
  .header-used-technologies {
    margin: 32px 0 0 4%;
  }
  .header-used-technologies h2, .header-used-technologies p {
    margin-left: 0;
  }
  .content-used-technologies {
    margin: 32px 0 0 4%;
    width: 75.29%;
  }
  .content-used-technologies .content-used-technologies-mobile,
  .content-used-technologies .content-used-technologies-web {
    width: 100%;
  }
  .content-used-technologies .content-used-technologies-mobile p,
  .content-used-technologies .content-used-technologies-web p {
    width: 100%;
  }
  .list-developments {
    height: 340px;
    margin: 32px 0 0 4%;
  }
  .list-industries {
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 50px;
  }
  .list-industries h2 {
    width: 89.41%;
    margin-left: 3.76%;
    margin-top: 31px;
  }
  .list-industries .items {
    width: 89.82%;
    margin-top: 27px;
    margin-left: 4.23%;
  }
  .list-industries .items .item p {
    width: 28.73%;
    font-size: 14px;
  }
  .list-industries .projects {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    margin-top: 32px;
  }
  .list-industries .projects h2 {
    width: 80%;
    height: 40px;
    margin-top: 0;
    margin-left: 3.76%;
  }
  .list-industries .projects p {
    width: 80%;
    margin-top: 31px;
    margin-left: 3.76%;
  }
  .list-industries .projects .list-with-button {
    width: 91.76%;
    margin-top: 32px;
  }
  .list-industries .projects .list-with-button .list-projects {
    width: 76.92%;
    flex-wrap: wrap;
    margin-left: 4.1%;
  }
  .list-industries .projects .list-with-button .list-projects p {
    margin: 11px 11px 0 0;
  }
  .list-industries .projects .list-with-button button {
    display: none;
  }
  .list-industries .projects .i-teka-mobile {
    display: block;
    width: 92.47%;
    margin: auto;
    margin-top: 32px;
  }
  .list-industries .projects .content {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background: none;
    margin-top: 32px;
  }
  .list-industries .projects .content h2 {
    margin-left: 3.76%;
  }
  .list-industries .projects .content .main-content {
    height: 315px;
    margin-top: 20px;
  }
  .list-industries .projects .content .main-content p {
    width: 92.47%;
    margin: 0 7.06%;
  }
  .list-industries .projects .content .main-content .location-industry, .list-industries .projects .content .main-content .users, .list-industries .projects .content .main-content .download {
    margin-left: 7.06%;
  }
  .list-industries .projects .button-mobile {
    display: block;
    width: 258px;
    height: 40px;
    margin: auto;
    margin-top: 32px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #2D66EE;
  }
  .discuss {
    height: 541px;
  }
  .discuss div {
    width: 100%;
    height: 541px;
    margin: 0;
  }
  .discuss div .discription {
    width: 80.94%;
    margin-top: 34px;
    margin-left: 3.76%;
  }
  .discuss div .discription h2 {
    width: 56.68%;
  }
  .discuss div .discuss-form {
    width: 92.47%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 36px 4%;
  }
  .discuss div .discuss-form form {
    width: 91.09%;
    height: 228px;
  }
  .discuss div .discuss-form form .inputs {
    flex-direction: column;
    width: 100%;
    height: 172px;
  }
  .discuss div .discuss-form form .inputs label {
    width: 100%;
    height: 78px;
    margin: 0;
  }
  .discuss div .discuss-form form .inputs .input {
    width: 100%;
  }
  .discuss div .discuss-form form .button {
    float: none;
    width: 255px;
    margin: 16px 52px;
  }
  .application-developments-stages div {
    height: 1340px;
  }
  .application-developments-stages div h2 {
    width: 374px;
    margin-left: 19px;
  }
  .application-developments-stages div .cards {
    width: 88%;
    height: 1192px;
    margin: auto;
  }
  .application-developments-stages div .cards .group-cards {
    width: 100%;
    height: 580px;
  }
  .application-developments-stages div .cards .group-cards .card {
    padding: 24px 0 0 6.09%;
  }
  .application-developments-stages div .cards .group-cards .card p {
    width: 74.89%;
    margin-top: 16px;
    font-size: 14px;
  }
  .our-team {
    height: 646px;
  }
  .our-team div {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .our-team div .discription {
    width: 100%;
    height: 616px;
    justify-content: space-between;
  }
  .our-team div .discription h2 {
    margin-left: 16px;
    margin-top: 28px;
  }
  .our-team div .discription p {
    width: 88.47%;
    height: 60px;
    margin-left: 3.76%;
  }
  .our-team div .discription .background-image-tablet {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .our-team div .discription .background-image-tablet img {
    height: 263px;
  }
  .our-team div .discription .items {
    width: 88%;
    height: 58px;
    margin-left: 4%;
  }
  .our-team div .discription .items .item {
    height: 100%;
    margin: 0;
  }
  .our-team div .discription .items .item span {
    font-size: 28px;
    height: 24px;
    line-height: normal;
  }
  .our-team div .discription .items .item p {
    height: 14px;
    margin: 0;
    font-size: 14px;
  }
  .our-team div .discription .another-p {
    width: 84.47%;
    margin-left: 4%;
  }
  .our-team div .background-image-desktop {
    display: none;
  }
  .get-book {
    height: 923px;
    padding: 0;
  }
  .get-book div {
    width: 100%;
    height: 100%;
  }
  .get-book div .get-book-form {
    width: 100%;
    height: 100%;
  }
  .get-book div .get-book-form h2 {
    width: 78.35%;
    height: 80px;
    margin: auto;
    margin-top: 49px;
    line-height: 40px;
  }
  .get-book div .get-book-form .image-mobile {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .get-book div .get-book-form .image-mobile img {
    width: 200px;
    margin: auto;
  }
  .get-book div .get-book-form form {
    width: 78.82%;
    height: 431px;
    margin: auto;
    padding: 32px 7.53%;
  }
  .get-book div .get-book-form form .inputs {
    width: 100%;
    height: 320px;
    margin: 0;
  }
  .get-book div .get-book-form form .inputs label {
    margin: 0;
  }
  .get-book div .get-book-form form .button {
    margin: 0;
  }
  .get-book div .image {
    display: none;
  }
  .get-book div .image-tablet {
    display: none;
  }
  .faq {
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 20px;
  }
  .faq h2 {
    font-size: 28px;
    height: 40px;
    margin-left: 5%;
  }
  .faq .items {
    flex-direction: column;
    width: 92.47%;
    height: -moz-fit-content;
    height: fit-content;
    grid-gap: 0;
    margin-top: 32px;
    padding-bottom: 32px;
  }
  .faq .items .group-items {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .faq .items .group-items .item .content {
    width: -moz-fit-content;
    width: fit-content;
  }
  .faq .items .group-items .item .content h3 {
    font-size: 20px;
    margin: 32px 0;
  }
  .faq .items .group-items .open-item {
    height: -moz-fit-content;
    height: fit-content;
  }
  .faq .items .group-items .open-item .content h3 {
    margin: 0;
    margin: 10px 0 32px 0;
  }
  .faq .items .group-items .open-item .content p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 24px;
  }
  footer {
    height: 82.35%;
    padding: 0;
  }
  footer .footer {
    width: 100%;
    height: 350px;
    border-radius: 0;
  }
  footer .footer .items {
    width: 88.23%;
    height: 142px;
    margin: 52px 0 0 8.5%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .footer .items .item {
    width: 41%;
    height: 54px;
    margin: 0;
  }
  footer .footer .items .item p {
    font-size: 14px;
  }
  footer .footer .world-footer {
    margin-top: 52px;
  }
}/*# sourceMappingURL=mobile.css.map */