html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"), local("Inter Bold"), url("/static/fonts/Inter-Bold.ttf") format("truetype"), url("/static/fonts/Inter-Bold.woff2") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Medium"), local("Inter Medium"), url("/static/fonts/Inter-Medium.ttf") format("truetype"), url("/static/fonts/Inter-Medium.woff2") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"), local("Inter Regular"), url("/static/fonts/Inter-Regular.ttf") format("truetype"), url("/static/fonts/Inter-Regular.woff2") format("woff");
  font-weight: 400;
}
.bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F4F7;
}

.open-menu,
#opened-menu {
  display: none;
}

#main-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 78%;
  height: 56px;
  margin-top: 24px;
  margin-left: 7.5%;
  border-radius: 12px;
  padding: 16px 1.6%;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
}
#main-header .logo a {
  font: Inter, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  width: 10.67%;
  height: 24px;
  color: #2D66EE;
}
#main-header a {
  text-decoration: none;
  color: #101828;
}
#main-header .content {
  display: flex;
  justify-content: space-between;
  width: 28.8%;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.15px;
}
#main-header .contacts {
  display: flex;
  justify-content: space-between;
  width: 42%;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.15px;
}
#main-header .contacts .tel {
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 24px;
}
#main-header .contacts .tel img {
  width: 13.8px;
  height: 19.8px;
  top: 2.1px;
  left: 5.1px;
}
#main-header .contacts .tel .ul-tel {
  display: flex;
  justify-content: space-between;
  width: 234px;
  height: 18px;
}
#main-header .contacts .mail {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 24px;
}
#main-header .contacts .mail img {
  width: 19.8px;
  height: 15.8px;
  top: 4.1px;
  left: 2.1px;
}
#main-header .contacts a {
  color: #2D66EE;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
}
@keyframes moveUp {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 1000%;
  }
}
@keyframes moveDown {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -1000%;
  }
}
.welcome .background-image {
  width: 54.03%;
  height: 1150px;
  display: flex;
  position: absolute;
  z-index: -1;
  transform: rotate(-12deg);
  left: 50.7%;
  top: -150px;
}
.welcome .background-image .left-column {
  width: 485px;
  height: 1150px;
  background: url("../img/column-left.webp") repeat-y;
  animation: moveUp 60s linear infinite;
  position: relative;
  background-size: 485px;
}
.welcome .background-image .right-column {
  width: 293px;
  height: 1150px;
  background: url("../img/column-right.webp") repeat-y;
  animation: moveDown 55s linear infinite;
  position: relative;
  background-size: 293px;
  left: -80px;
}
.welcome .info {
  width: 41.66%;
  height: 220px;
  margin-top: 160px;
  margin-left: 7.5%;
}
.welcome .info h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.welcome .info h2 span {
  color: #306FF5;
}
.welcome .info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #101828;
  margin-top: 24px;
}
.welcome .callback-form {
  width: 46.94%;
  height: 186px;
  margin-top: 64px;
  margin-left: 7.5%;
  padding: 1.6%;
  border-radius: 12px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFFF;
}
.welcome .callback-form form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  margin-top: 32px;
}
.welcome .callback-form h3 {
  margin: 0;
  width: 79.62%;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3799999952px;
  text-align: left;
  color: #101828;
}
.welcome .callback-form label {
  width: 35.67%;
  height: 54px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.0780000016px;
  text-align: left;
  color: #667085;
}
.welcome .callback-form .button {
  width: 132px;
  height: 58px;
  padding: 11px 24px;
  border-radius: 8px;
  background: #2D66EE;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.1539999992px;
  text-align: left;
  color: #FFFFFF;
  white-space: normal;
  border: none;
}
.welcome .callback-form .input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  line-height: 1.25;
  padding: 10px 10px 10px 0px;
}

.development-cycle {
  display: flex;
  height: 500px;
  background: #FFFFFF;
}

.used-technologies {
  width: 50%;
}

.header-used-technologies {
  width: 83%;
  height: 104px;
  margin: 80px 0 0 15%;
}
.header-used-technologies h2 {
  font-size: 36px;
}
.header-used-technologies p {
  font-size: 15px;
}
.header-used-technologies h2, .header-used-technologies p {
  margin-left: 0;
}

.content-used-technologies {
  width: 82.66%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.content-used-technologies h3 {
  font-size: 20px;
}
.content-used-technologies p {
  font-size: 17px;
  color: #475467;
}
.content-used-technologies span {
  color: #2D66EE;
}

.list-developments {
  height: 340px;
  margin: 80px 0 0 7.5%;
}
.list-developments .item {
  list-style-type: none;
  font-size: 20px;
  padding: 12px 0;
  display: flex;
}
.list-developments .item a {
  text-decoration: none;
}
.list-developments .item a:hover {
  font-weight: 600;
  border-bottom: 1px solid #2D66EE;
}
.list-developments img {
  margin-left: 12px;
  padding: 6px 8.5px;
}

.list-industries {
  width: 100%;
  height: 1392px;
}
.list-industries h2 {
  width: 34.72%;
  height: 104px;
  margin-left: 7.5%;
  margin-top: 80px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.list-industries h2 span {
  color: #306FF5;
}
.list-industries .items {
  width: 84.93%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0 0 7.5%;
  gap: 15px;
}
.list-industries .items .item {
  width: 31.97%;
  height: 44px;
  display: flex;
}
.list-industries .items .item img {
  width: 44px;
  height: 44px;
}
.list-industries .items .item p {
  margin: 11px 0 11px 16px;
  font-size: 17px;
  font-weight: 500;
  color: #101828;
}
.list-industries .projects {
  margin: auto;
  margin-top: 120px;
  width: 85%;
  height: 717px;
}
.list-industries .projects h2 {
  margin: 0;
  width: 47.38%;
  height: 52px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.list-industries .projects p {
  margin-top: 24px;
  width: 47.38%;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #101828;
}
.list-industries .projects .list-with-button {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}
.list-industries .projects .list-with-button .list-projects {
  width: 65.44%;
  height: 58px;
  display: flex;
}
.list-industries .projects .list-with-button .list-projects div {
  width: -moz-fit-content;
  width: fit-content;
}
.list-industries .projects .list-with-button .list-projects p {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px;
}
.list-industries .projects .list-with-button .list-projects p:hover {
  font-weight: 600;
  border-bottom: 1px solid #2D66EE;
}
.list-industries .projects .list-with-button button {
  width: 207px;
  height: 40px;
  margin-top: 9px;
  margin-right: 4.57%;
  padding: 11px, 24px, 11px, 24px;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  background-color: #2D66EE;
}
.list-industries .projects .content {
  background: url("../img/i-teka.png") no-repeat top right;
  margin-top: 40px;
  width: 85%;
  height: 449px;
}
.list-industries .projects .content h2 {
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.list-industries .projects .content .main-content {
  margin-top: 32px;
  width: 49.02%;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-industries .projects .content .main-content p {
  margin: 0;
  width: 96.66%;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #101828;
}
.list-industries .projects .content .main-content .developments p {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4079999924px;
  text-align: left;
  color: #475467;
}
.list-industries .projects .content .main-content .developments span {
  color: #2D66EE;
}
.list-industries .projects .content .main-content .location-industry {
  width: 239px;
  display: flex;
  justify-content: space-between;
}
.list-industries .projects .content .main-content .location-industry div {
  width: 112px;
  display: flex;
}
.list-industries .projects .content .main-content .location-industry div p {
  margin-left: 8px;
  margin-top: 2px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #101828;
}
.list-industries .projects .content .main-content .users {
  width: 42%;
  height: 59px;
  display: flex;
  justify-content: space-between;
}
.list-industries .projects .content .main-content .users .user-growth,
.list-industries .projects .content .main-content .users .active-users {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-industries .projects .content .main-content .users .user-growth .number,
.list-industries .projects .content .main-content .users .active-users .number {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.list-industries .projects .content .main-content .users .user-growth .label,
.list-industries .projects .content .main-content .users .active-users .label {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.0780000016px;
  text-align: left;
  color: #667085;
}
.list-industries .projects .content .main-content .download {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 40px;
}

.discuss {
  width: 100%;
  height: 350px;
  background: url("../img/discuss-2.png");
  background-color: #2D66EE;
}
.discuss div {
  width: 85%;
  height: 190px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 80px;
}
.discuss div .discription {
  width: 49.02%;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}
.discuss div .discription h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
}
.discuss div .discription p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.discuss div .discuss-form {
  width: 49.02%;
  height: 190px;
  top: 80.2px;
  left: 59.8%;
  padding: 2%;
  border-radius: 12px;
  background-color: #FFFFFF;
}
.discuss div .discuss-form form {
  width: 100%;
}
.discuss div .discuss-form .inputs {
  margin: 0;
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
}
.discuss div .discuss-form .inputs .input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  line-height: 1.25;
  padding: 10px 10px 10px 0px;
}
.discuss div .discuss-form .inputs label {
  width: 90%;
  height: 78px;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.0780000016px;
  text-align: left;
  color: #667085;
}
.discuss div .discuss-form .button {
  width: 29.66%;
  height: 40px;
  float: right;
  margin-top: 24px;
  margin-right: 4%;
  padding: 11px auto;
  border-radius: 8px;
  background-color: #2D66EE;
  border: none;
  color: #FFFFFF;
}

.application-developments-stages div {
  width: 100%;
  height: 810px;
  background-color: #FFFFFF;
}
.application-developments-stages div h2 {
  margin: 0;
  padding-top: 80px;
  margin-left: 7.5%;
  width: 49.16%;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  vertical-align: bottom;
  color: #101828;
}
.application-developments-stages div .cards {
  margin: auto;
  margin-top: 34px;
  width: 85%;
  height: 564px;
  display: flex;
  justify-content: space-between;
}
.application-developments-stages div .cards .group-cards {
  margin: 0;
  width: 32%;
  height: 564px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.application-developments-stages div .cards .group-cards .card {
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.0784313725);
  width: 100%;
  height: 172px;
  padding: 6.12% 6.12% 0 6.12%;
}
.application-developments-stages div .cards .group-cards .card .logo {
  display: flex;
  width: 51%;
  height: 48px;
}
.application-developments-stages div .cards .group-cards .card .logo h3 {
  margin: 12px 0 12px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3799999952px;
  text-align: left;
  color: #101828;
}
.application-developments-stages div .cards .group-cards .card p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #101828;
}

.our-team {
  width: 100%;
  height: 420px;
}
.our-team div {
  width: 85%;
  height: 420px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.our-team div .discription {
  margin: 0;
  width: 49.02%;
  height: 341px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-team div .discription h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.our-team div .discription p {
  margin: 0;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #101828;
}
.our-team div .discription .background-image-tablet {
  display: none;
}
.our-team div .discription .items {
  margin: 0;
  width: 100%;
  height: 113px;
  justify-content: space-between;
}
.our-team div .discription .items .item {
  width: 50%;
  height: 97px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-team div .discription .items .item span {
  font-size: 48px;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.our-team div .discription .items .item p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2399999946px;
  text-align: left;
  color: #667085;
}
.our-team div .background-image-desktop {
  margin: 0;
  width: 49.02%;
}

.get-book {
  width: 100%;
  height: 585px;
  background: url("../img/get-book.png");
  background-color: #2D66EE;
  padding-top: 80px;
}
.get-book div {
  margin: auto;
  width: 85%;
  height: 428px;
  display: flex;
  justify-content: space-between;
}
.get-book div .get-book-form {
  width: 49.02%;
  height: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.get-book div .get-book-form h2 {
  margin: 0;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
}
.get-book div .get-book-form form {
  width: 100%;
  height: 284px;
  padding: 4%;
  border-radius: 12px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1607843137);
  background-color: #FFFFFF;
}
.get-book div .get-book-form form .inputs {
  width: 100%;
  height: 172px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.get-book div .get-book-form form .inputs .input {
  width: 92%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  line-height: 1.25;
  padding: 10px 10px 10px 0px;
}
.get-book div .get-book-form form .inputs label {
  width: 50%;
  height: 78px;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.0780000016px;
  text-align: left;
  color: #667085;
}
.get-book div .get-book-form form .inputs .email {
  width: 98%;
}
.get-book div .get-book-form form .button {
  width: 225px;
  height: 40px;
  float: right;
  margin-top: 24px;
  margin-right: 24px;
  padding: 11px, 24px;
  border-radius: 8px;
  background-color: #2D66EE;
  border: none;
  color: #FFFFFF;
}
.get-book div .image img {
  margin: auto;
  margin-top: -46px;
}
.get-book div .image-tablet {
  display: none;
}

.faq {
  width: 100%;
  height: 646px;
  padding-top: 80px;
  background-color: #FFFFFF;
}
.faq h2 {
  margin: 0;
  margin-left: 7.5%;
  width: 41.66%;
  height: 52px;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3264510036px;
  text-align: left;
  color: #101828;
}
.faq .items {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 420px;
  gap: 24px;
  margin: auto;
  margin-top: 40px;
}
.faq .items .group-items {
  width: 49.02%;
  height: 420px;
  gap: 16px;
}
.faq .items .group-items .item {
  width: 100%;
  height: 116px;
  border-top: 1px solid #D0D5DD;
  display: flex;
  justify-content: space-between;
}
.faq .items .group-items .item .content {
  width: 87.33%;
}
.faq .items .group-items .item .content h3 {
  margin: 0;
  margin-top: 46px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #101828;
}
.faq .items .group-items .item img {
  margin-top: 28px;
  width: 60px;
  height: 60px;
}
.faq .items .group-items .item:last-child {
  border-bottom: 1px solid #D0D5DD;
}
.faq .items .group-items .open-item {
  height: 304px;
}
.faq .items .group-items .open-item .content {
  display: flex;
  flex-direction: column;
}
.faq .items .group-items .open-item .content p {
  margin: 0;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3199999928px;
  text-align: left;
  color: #101828;
}
.faq .items .group-items .open-item .content h3 {
  margin-top: 28px;
}

footer {
  background-color: #FFFFFF;
  height: 270px;
  padding-bottom: 48px;
}
footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 222px;
  margin: auto;
  padding: 1.66%;
  border-radius: 12px;
  background-color: #101828;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.0784313725);
}
footer .footer * {
  margin: 0;
  padding: 0;
}
footer .footer h2 {
  font-family: Inter, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.1539999992px;
  text-align: center;
  color: #FFFFFF;
}
footer .footer .items {
  width: 96.08%;
  height: 54px;
  display: flex;
}
footer .footer .items .item {
  width: 25%;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer .items .item span p {
  display: inline;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.1539999992px;
  text-align: left;
  color: #98A2B3;
  margin-left: 5px;
}
footer .footer .items .item p {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4079999924px;
  text-align: left;
  color: #FFFFFF;
}
footer .footer img {
  vertical-align: middle;
}
footer .footer .world-footer {
  display: flex;
  justify-content: center;
}
footer .footer .world-footer p {
  display: inline;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.0780000016px;
  margin-left: 10px;
  text-align: left;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */