@import "_global.scss";
@import "_fonts.scss";
@import "_utils.scss";

@media screen and (max-width: 1439px) {
    body,
    h2,
    h3,
    p {
        margin: 0;
        padding: 0;
    }

    .open-menu {
        display: block;
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        img {
            width: 59px;
            height: 40px;
        }
    }

    #opened-menu {
        text-align: center;
        position: fixed;
        z-index: 1;
        background-color: white;
        width: 100%;
        height: 848px;
        box-shadow: 0px 4px 4px 0px #00000040;

        a {
            text-decoration: none;
            color: #101828;
        }

        .close-menu {
            margin-top: 41px;
            margin-left: 74.48%;//572px;
        }

        .opened-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 81.64%;//627px;
            height: 568px;
            margin: auto;
            margin-top: 42px;

            span {
                margin: 0 auto;
                font-size: 48px;
                font-weight: 700;

                a {
                    color: #2D66EE;
                }
            }

            .opened-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 157px;
                height: 388px;
                margin: 0 auto;
                font-size: 36px;
                font-weight: 400;
            }

            .opened-contacts {
                display: flex;
                justify-content: space-between;
                width: 627px;
                margin: 0 auto;

                img {
                    vertical-align: middle;
                    margin-right: 5px;
                }

                a {
                    color: #2D66EE;
                    font-size: 14px;
                }
            }
        }
    }

    #main-header {
        display: flex;
        width: 100%;//768px;
        height: 90px;
        margin: 0;
        margin-top: 16px;
        padding: 25px 4.16%;//32px;

        .logo {
            margin: auto;
            width: 120px;
            height: 24px;
        }

        .contacts {
            width: 174px;
            height: 24px;
            margin-top: 8px;
        }

        .content, .contacts .tel {
            display: none;
        }
    }

    .welcome {
        width: 100%;//768px;
        height: 762px;

        .info {
            width: 49.87%;//383px;
            height: 204px;
            margin-top: 138px;
            margin-left: 4.16%;//32px;

            h2 {
                font-size: 28px;
                font-weight: 700;
                line-height: 40px;
            }
        }

        .callback-form {
            width: 49.87%;//383px;
            height: 356px;
            margin-top: 32px;
            margin-left: 4.3%;//33px;
            padding: 32px;

            form {
                width: 77%;//295px;
                height: 212px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }

            h3 {
                width: 77%;//295px;
                font-size: 16px;
            }

            label {
                width: 58.48%;//224px;
                height: 54px;
                font-size: 13px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.07800000160932541px;
                text-align: left;
                color: #667085;
            }

            .button {
                width: 155px;
                height: 40px;
                padding: 11px 19px 11px 24px;
            }

            .input {
                border: none;
                border-bottom: 1px solid #bdbdbd;
                line-height: 1.25;
                padding: 10px 10px 10px 0px;
            }
        }

        .background-image {
            width: 58.6%;//450px;
            height: 850px;
            left: 50.78%;//390px;
            top: -50px;

            .left-column {
                width: 55.55%;//250px;
                height: 850px;
                background-size: 100%;//250px;
            }

            .right-column {
                width: 33.33%;//150px;
                height: 850px;
                background-size: 100%;//150px;
                left: -8.88%;//-40px;
            }
        }
    }

    .development-cycle {
        display: flex;
        height: 500px;
    }

    .header-used-technologies {
        width: 100%;//321px;
        height: 92px;
        margin: 0;

        h2 {
            font-size: 28px;
            margin: 32px 0 0 33px;
            width: 100%;//321px;
        }

        p {
            margin: 32px 0 0 33px;
        }
    }

    .content-used-technologies {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;//320px;
        height: 244px;
        margin: 32px 0 0 33px;

        p {
            width: 82%;//265px;
            height: 66px;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.40799999237060547px;
            text-align: left;
        }
    }

    .content-used-technologies-web,
    .content-used-technologies-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 82%;//320px;
        height: 106px;
    }

    .list-developments {
        margin: 100px 0 0 83px;
    }

    .list-industries {
        width: 100%;
        height: 1338px;

        h2 {
            width: 49.48%; //380px;
            font-size: 28px;
        }

        .items {
            width: 78.25%;//601px;
            height: 457px;
    
            .item {
                width: fit-content;
            }
        }

        .projects {
            width: 92%;

            h2 {
                width: 84.98%;//600px;
                font-size: 28px;
            }
    
            p {
                width: 76%;//456px;
                font-size: 14px;
            }

            .list-with-button {
                flex-wrap: wrap;
                margin-top: 26px;

                .list-projects {
                    width: 96%;//678px;
                }
    
                button {
                    width: 207px;
                    margin-left: 65.42%;//531px;
                }
            }
    
            .content {
                width: 85%;
                background-position: bottom right;
                background-size: 60%;//368px;
                margin-top: 0;
    
                h2 {
                    font-size: 28px;
                }
    
                .main-content {
                    width: 100%;
                    p {
                        width: 70.3%;//459px;
                        font-size: 14px;
                    }
    
                    .developments {
                        p {
                            font-size: 14px;
                        }
                    }
    
                    .location-industry {
                        p {
                            font-size: 14px;
                        }
                    }
    
                    .users {
                        width: 231px;
    
                        .number {
                            font-size: 20px;
                        }

                        .label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .discuss {
        height: 428px;
    
        div {
            width: 78.125%;//600px;
            height: 374px;
            flex-direction: column;
            margin: 0;
            margin-top: 80px;
            margin-left: 5%;//38px;
    
            .discription {
                width: 57.33%;//344px;
                margin-top: 22px;
                margin-left: 6.33%;//38px;
    
                h2 {
                    width: 56.68%;//195px;
                    font-size: 28px;
                }
    
                p {
                    width: 100%;//344px;
                    font-size: 14px;
                }
            }
    
            .discuss-form {
                width: 78.125%;//600px;
                margin-top: 32px;
                padding: 3.125%;//24px;
    
                .inputs {
                    flex-direction: row;
                }
    
                .button {
                    width: 178px;
                }
            }
        }
    }

    .application-developments-stages {
        div {
            height: 1340px;
    
            h2 {
                width: 78.125%;//600px;
                font-size: 28px;
                padding-top: 32px;
                margin-left: 5.08%;//39px;
            }
    
            .cards {
                width: 87.63%;//673px;
                height: 1192px;
                flex-direction: column;
                margin-left: 5.08%;//39px;
    
                .group-cards {
                    width: 100%;
                    height: 580px;
    
                    .card {
                        padding: 24px 0 0 3.57%;//24px;
    
                        p {
                            width: 74.89%;//504px;
                            margin-top: 16px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .our-team {
        height: 884px;
    
        div {
            width: 91.66%;//704px;
            height: 794px;
            margin: auto;
            margin-top: 38px;
    
            .discription {
                width: 100%;
                height: 100%;
    
                h2 {
                    height: 40px;
                    font-size: 28px;
                }
    
                p {
                    width: 58.95%;//415px;
                    font-size: 14px;
                }

                .background-image-tablet {
                    display: block;
                    width: 100%;//704px;
                    height: 421px;
                    margin: 0;
                }
    
                .items {
                    width: 584px;
                    margin-left: 4.54%;//32px;
    
                    .item {
                        width: 31.5%;//184px;
                    }
                }

                .another-p {
                    width: 614px;
                    margin-left: 4.54%;//32px;
                }
            }
    
            .background-image-desktop {
                display: none;
            }
        }
    }

    .get-book {
        height: 724px;
        padding-top: 76px;
    
        div {
    
            .get-book-form {
                height: 564px;
    
                h2 {
                    width: 455px;
                    font-size: 28px;
                }
    
                form {
                    width: 90%;//335px;
                    height: 431px;
    
                    .inputs {
                        width: 90%;//271px;
                        height: 320px;
                        margin-top: 25px;
    
                        label {
                            width: 100%;
                            height: 86px;
                            font-size: 13px;
                        }
    
                        .email {
                            width: 96%;
                        }
                    }
    
                    .button {
                        float: left;
                        margin: 0 0 0 18.5px;
                    }
                }
            }
    
            .image {
                display: none;
            }

            .image-tablet {
                display: block;

                img {
                    margin-left: 15%;//51px;
                    margin-top: 130px;
                }
            }
        }
    }
    
    .faq {
        height: 778px;
        padding-top: 20px;
    
        h2 {
            font-size: 28px;
            margin-left: 4.6875%;//36px;
        }
    
        .items {
            flex-direction: column;
            width: 78.125%;//600px;
            height: 652px;
            grid-gap: 0;
            margin-top: 32px;
    
            .group-items {
                width: 100%;
    
                .item {
                    .content {
                        width: fit-content;
    
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
    
                .open-item {
                    .content {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 241px;
        padding: 0;

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: initial;
            margin: 0;
            padding: 0;
            width: 100%; //768px;
            height: 241px;
            border-radius: 0;
    
            h2 {
                font-family: 'Inter', sans-serif;
                margin-top: 46px;
            }
    
            .items {
                width: 89.84%;//690px;
                margin: 32px 0 0 7.3%;//56px;
    
                p {
                    font-size: 14px;
                }
    
                .item {
                    width: 25.5%;//176px;
                    margin-right: 2px;
                }
            }
    
            .world-footer {
                margin-top: 32px;
            }
        }
    }
}