html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"), local("Inter Bold"), url("/static/fonts/Inter-Bold.ttf") format("truetype"), url("/static/fonts/Inter-Bold.woff2") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Medium"), local("Inter Medium"), url("/static/fonts/Inter-Medium.ttf") format("truetype"), url("/static/fonts/Inter-Medium.woff2") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"), local("Inter Regular"), url("/static/fonts/Inter-Regular.ttf") format("truetype"), url("/static/fonts/Inter-Regular.woff2") format("woff");
  font-weight: 400;
}
.bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 1439px) {
  body,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  .open-menu {
    display: block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  .open-menu img {
    width: 59px;
    height: 40px;
  }
  #opened-menu {
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 848px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  #opened-menu a {
    text-decoration: none;
    color: #101828;
  }
  #opened-menu .close-menu {
    margin-top: 41px;
    margin-left: 74.48%;
  }
  #opened-menu .opened-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 81.64%;
    height: 568px;
    margin: auto;
    margin-top: 42px;
  }
  #opened-menu .opened-header span {
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;
  }
  #opened-menu .opened-header span a {
    color: #2D66EE;
  }
  #opened-menu .opened-header .opened-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 157px;
    height: 388px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
  }
  #opened-menu .opened-header .opened-contacts {
    display: flex;
    justify-content: space-between;
    width: 627px;
    margin: 0 auto;
  }
  #opened-menu .opened-header .opened-contacts img {
    vertical-align: middle;
    margin-right: 5px;
  }
  #opened-menu .opened-header .opened-contacts a {
    color: #2D66EE;
    font-size: 14px;
  }
  #main-header {
    display: flex;
    width: 100%;
    height: 90px;
    margin: 0;
    margin-top: 16px;
    padding: 25px 4.16%;
  }
  #main-header .logo {
    margin: auto;
    width: 120px;
    height: 24px;
  }
  #main-header .contacts {
    width: 174px;
    height: 24px;
    margin-top: 8px;
  }
  #main-header .content, #main-header .contacts .tel {
    display: none;
  }
  .welcome {
    width: 100%;
    height: 762px;
  }
  .welcome .info {
    width: 49.87%;
    height: 204px;
    margin-top: 138px;
    margin-left: 4.16%;
  }
  .welcome .info h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }
  .welcome .callback-form {
    width: 49.87%;
    height: 356px;
    margin-top: 32px;
    margin-left: 4.3%;
    padding: 32px;
  }
  .welcome .callback-form form {
    width: 77%;
    height: 212px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .welcome .callback-form h3 {
    width: 77%;
    font-size: 16px;
  }
  .welcome .callback-form label {
    width: 58.48%;
    height: 54px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.0780000016px;
    text-align: left;
    color: #667085;
  }
  .welcome .callback-form .button {
    width: 155px;
    height: 40px;
    padding: 11px 19px 11px 24px;
  }
  .welcome .callback-form .input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    line-height: 1.25;
    padding: 10px 10px 10px 0px;
  }
  .welcome .background-image {
    width: 58.6%;
    height: 850px;
    left: 50.78%;
    top: -50px;
  }
  .welcome .background-image .left-column {
    width: 55.55%;
    height: 850px;
    background-size: 100%;
  }
  .welcome .background-image .right-column {
    width: 33.33%;
    height: 850px;
    background-size: 100%;
    left: -8.88%;
  }
  .development-cycle {
    display: flex;
    height: 500px;
  }
  .header-used-technologies {
    width: 100%;
    height: 92px;
    margin: 0;
  }
  .header-used-technologies h2 {
    font-size: 28px;
    margin: 32px 0 0 33px;
    width: 100%;
  }
  .header-used-technologies p {
    margin: 32px 0 0 33px;
  }
  .content-used-technologies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 244px;
    margin: 32px 0 0 33px;
  }
  .content-used-technologies p {
    width: 82%;
    height: 66px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4079999924px;
    text-align: left;
  }
  .content-used-technologies-web,
  .content-used-technologies-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
    height: 106px;
  }
  .list-developments {
    margin: 100px 0 0 83px;
  }
  .list-industries {
    width: 100%;
    height: 1338px;
  }
  .list-industries h2 {
    width: 380px;
    font-size: 28px;
  }
  .list-industries .items {
    width: 601px;
    height: 457px;
  }
  .list-industries .items .item {
    width: -moz-fit-content;
    width: fit-content;
  }
  .list-industries .projects {
    width: 92%;
  }
  .list-industries .projects h2 {
    width: 600px;
    font-size: 28px;
  }
  .list-industries .projects p {
    width: 456px;
    font-size: 14px;
  }
  .list-industries .projects .list-with-button {
    flex-wrap: wrap;
    margin-top: 26px;
  }
  .list-industries .projects .list-with-button .list-projects {
    width: 678px;
  }
  .list-industries .projects .list-with-button button {
    width: 207px;
    margin-left: 65.42%;
  }
  .list-industries .projects .content {
    width: 85%;
    background-position: bottom right;
    background-size: 60%;
    margin-top: 0;
  }
  .list-industries .projects .content h2 {
    font-size: 28px;
  }
  .list-industries .projects .content .main-content {
    width: 100%;
  }
  .list-industries .projects .content .main-content p {
    width: 459px;
    font-size: 14px;
  }
  .list-industries .projects .content .main-content .developments p {
    font-size: 14px;
  }
  .list-industries .projects .content .main-content .location-industry p {
    font-size: 14px;
  }
  .list-industries .projects .content .main-content .users {
    width: 231px;
  }
  .list-industries .projects .content .main-content .users .number {
    font-size: 20px;
  }
  .list-industries .projects .content .main-content .users .label {
    font-size: 12px;
  }
  .discuss {
    height: 428px;
  }
  .discuss div {
    width: 600px;
    height: 374px;
    flex-direction: column;
    margin: 0;
    margin-top: 80px;
    margin-left: 38px;
  }
  .discuss div .discription {
    width: 344px;
    margin-top: 22px;
    margin-left: 38px;
  }
  .discuss div .discription h2 {
    width: 195px;
    font-size: 28px;
  }
  .discuss div .discription p {
    width: 344px;
    font-size: 14px;
  }
  .discuss div .discuss-form {
    width: 600px;
    margin-top: 32px;
    padding: 24px;
  }
  .discuss div .discuss-form .inputs {
    width: 552px;
    flex-direction: row;
  }
  .discuss div .discuss-form .inputs .input {
    width: 264px;
  }
  .discuss div .discuss-form .inputs label {
    width: 264px;
  }
  .discuss div .discuss-form .button {
    width: 178px;
  }
  .application-developments-stages div {
    height: 1340px;
  }
  .application-developments-stages div h2 {
    width: 600px;
    font-size: 28px;
    padding-top: 32px;
    margin-left: 39px;
  }
  .application-developments-stages div .cards {
    width: 673px;
    height: 1192px;
    flex-direction: column;
    margin-left: 39px;
  }
  .application-developments-stages div .cards .group-cards {
    width: 100%;
    height: 580px;
  }
  .application-developments-stages div .cards .group-cards .card {
    padding: 24px 0 0 24px;
  }
  .application-developments-stages div .cards .group-cards .card p {
    width: 504px;
    margin-top: 16px;
    font-size: 14px;
  }
  .our-team {
    height: 884px;
  }
  .our-team div {
    width: 704px;
    height: 794px;
    margin: auto;
    margin-top: 38px;
  }
  .our-team div .discription {
    width: 100%;
    height: 100%;
  }
  .our-team div .discription h2 {
    height: 40px;
    font-size: 28px;
  }
  .our-team div .discription p {
    width: 415px;
    font-size: 14px;
  }
  .our-team div .discription .background-image-tablet {
    display: block;
    width: 704px;
    height: 421px;
    margin: 0;
  }
  .our-team div .discription .items {
    width: 584px;
    margin-left: 32px;
  }
  .our-team div .discription .items .item {
    width: 184px;
  }
  .our-team div .discription .another-p {
    width: 614px;
    margin-left: 32px;
  }
  .our-team div .background-image-desktop {
    display: none;
  }
  .get-book {
    height: 724px;
    padding-top: 76px;
  }
  .get-book div .get-book-form {
    height: 564px;
  }
  .get-book div .get-book-form h2 {
    width: 455px;
    font-size: 28px;
  }
  .get-book div .get-book-form form {
    width: 335px;
    height: 431px;
  }
  .get-book div .get-book-form form .inputs {
    width: 271px;
    height: 320px;
    margin-top: 25px;
  }
  .get-book div .get-book-form form .inputs label {
    width: 100%;
    height: 86px;
    font-size: 13px;
  }
  .get-book div .get-book-form form .inputs .email {
    width: 96%;
  }
  .get-book div .get-book-form form .button {
    float: left;
    margin: 0 0 0 18.5px;
  }
  .get-book div .image {
    display: none;
  }
  .get-book div .image-tablet {
    display: block;
  }
  .get-book div .image-tablet img {
    margin-left: 51px;
    margin-top: 130px;
  }
  .faq h2 {
    font-size: 36px;
  }
  .faq .items .group-items .item .content h3 {
    font-size: 20px;
  }
  .faq .items .group-items .open-item .content p {
    font-size: 16px;
  }
  footer {
    height: 241px;
    padding: 0;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 241px;
    border-radius: 0;
  }
  footer .footer h2 {
    font-family: "Inter", sans-serif;
    margin-top: 46px;
  }
  footer .footer .items {
    width: 89.84%;
    margin: 32px 0 0 7.3%;
  }
  footer .footer .items p {
    font-size: 14px;
  }
  footer .footer .items .item {
    width: 25.5%;
    margin-right: 2px;
  }
  footer .footer .world-footer {
    margin-top: 32px;
  }
}/*# sourceMappingURL=tablet.css.map */