<!DOCTYPE html>
<html>
    <head>
        <title>Контакты</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="../assets/styles/style.css"> 
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="index.html">
                    <img src="../assets/img/logo.jpg" width="200px" height="200px">
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li> <a href="index.html">Главная </a> </li>
                    <li> <a href="contacts.html">Контакты </a> </li>
                </ul>
            </div>
            <div class="hleb">
                <ul class="bread">
                    <li>
                        <a href="#">Раз</a>
                    </li>
                    <li>
                        <a href="#">Два</a>
                    </li>
                    <li>
                        <a href="#">Три</a>
                    </li>
                    <li>
                        <a href="#">Четыре</a>
                    </li>
                </ul>
            </div>
        </header>
        <h2 class="header2"> Contact us </h2>
        <p class="paragraph"> contacts.html </p>
        <img src = "../assets/img/picture.jpg" width="200px" height="200px"> 
        <h4 class="header4"> Address </h4>
        <p class="paragraph"> address </p>
        <h4 class="header4"> Phone </h4>
        <ul>
            <li>+79000000001</li>
            <li>+79000000002</li>
            </ul>
        <h4 class="header4"> Online service </h4>
        <ul> 
            <li><a href="https://mail.ru">https://mail.ru</a></li>
            <li><a href="mailto:student@mail.ru">student@mail.ru</a></li>
        </ul>
        <h4 class="header4"> Send us message </h4>
        <form>
            Full Name:<br>
            <input class="input" type="text" name="fullName"><br>
            Email:<br>
            <input class="input" type="text" name="email"><br>
            Message:<br>
            <input class="input" type="textarea" name="message"><br>
            <input class="button" type="submit" value="Submit"><br>
        </form>
        <hr>
        <footer>  
            <h3 class="header3">Подвал сайта</h3>
            <p class="paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <hr> 
            <ul>
                <li>Произвольный контакт</li>
                <li>+79000000000</li>
                <li>student@study.utmn.ru</li>
            </ul>
            <p class="paragraph">Все права защищены</p>
        </footer>
    </body>
</html>