@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

body {
    margin: 0;
    padding: 0;
}

.open-menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 1124px;
    height: 56px;
    margin-top: 24px;
    margin-left: 108px;
    border-radius: 12px;
    padding: 16px 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #00000014;
}

header .logo a {
    font: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    width: 120px;
    height: 24px;
    color: #2D66EE;
}

header a {
    text-decoration: none;
    color: #101828;
}

header ul, header li {
    display: inline;
    list-style-type: none;
}

header .content {
    display: flex;
    justify-content: space-between;
    width: 324px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15px;
}

header .contacts {
    display: flex;
    justify-content: space-between;
    width: 472px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15px;
}

header .contacts .tel {
    display: flex;
    justify-content: space-between;
    width: 266px;
    height: 24px;
}

header .contacts .tel img {
    width: 13.8px;
    height: 19.8px;
    top: 2.1px;
    left: 5.1px;
}

header .contacts .tel .ul-tel {
    display: flex;
    justify-content: space-between;
    width: 234px;
    height: 18px;
}

header .contacts .mail {
    display: flex;
    justify-content: space-between;
    width: 174px;
    height: 24px;
}

header .contacts .mail img {
    width: 19.8px;
    height: 15.8px;
    top: 4.1px;
    left: 2.1px;
}

header .contacts a {
    color: #2D66EE;
}

.welcome {
    display: flex;
    flex-direction: column;
    height: 900px;
    background: url("../img/background-main.png") no-repeat right;
    background-color: #F2F4F7;
}

.welcome .info {
    width: 600px;
    height: 220px;
    margin-top: 160px;
    margin-left: 108px;
}

.welcome .info h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.32645100355148315px;
    text-align: left;
    color: #101828;
}

.welcome .info h2 span {
    color: #306FF5;
}

.welcome .info p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.23999999463558197px;
    text-align: left;
    color: #101828;
    margin-top: 24px;
}

.welcome .callback-form {
    width: 676px;
    height: 186px;
    margin-top: 64px;
    margin-left: 108px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 24px 0px #00000029;
    background-color: #FFFFFF;
}

.welcome .callback-form form{
    display: flex;
    justify-content: space-between;
    width: 628px;
    height: 58px;
    margin-top: 32px;
}

.welcome .callback-form h3 {
    margin: 0;
    width: 500px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    text-align: left;
    color: #101828;
}

.welcome .callback-form label {
    width: 224px;
    height: 54px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.07800000160932541px;
    text-align: left;
    color: #667085;
}

.welcome .callback-form .button {
    width: 132px;
    height: 58px;
    padding: 11px 24px 11px 24px;
    border-radius: 8px;
    background: #2D66EE;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    color: #FFFFFF;
    white-space: normal;
    border: none;
}

.welcome .callback-form .input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    line-height: 1.25;
    padding: 10px 10px 10px 0px;
}

footer * {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1224px;
    height: 222px;
    margin-left: 108px;
    padding: 24px;
    border-radius: 12px;
    background-color: #101828;
    box-shadow: 0px 2px 24px 0px #00000014;
    margin-bottom: 10px;
}

footer h2 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: center;
    color: #FFFFFF;
}

footer .items {
    width: 1176px;
    height: 54px;
    display: flex;
}

footer .items .item {
    width: 294px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .items .item span p{
    display: inline;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.15399999916553497px;
    text-align: left;
    color: #98A2B3;
    margin-left: 5px;
}

footer .items .item p {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: left;
    color:#FFFFFF;
}

footer img {
    vertical-align: middle;
}

footer .world-footer {
    display: flex;
    justify-content: center;
}

footer .world-footer p {
    display: inline;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.07800000160932541px;
    margin-left: 10px;
    text-align: left;
    color: #FFFFFF;
}

.development-cycle {
    display: flex;
    height: 500px;
}

.header-used-technologies {
    width: 600px;
    height: 104px;
    margin: 80px 0 0 108px;
}

.header-used-technologies h2 {
    font-size: 36px;
}

.header-used-technologies p {
    font-size: 15px;
}

.content-used-technologies {
    width: 496px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 34px 0 0 108px;
}

.content-used-technologies h3 {
    font-size: 20px;
}

.content-used-technologies p {
    font-size: 17px;
}

.list-developments {
    height: 340px;
    margin: 80px 0 0 108px;
}

.list-developments .item {
    list-style-type: none;
    font-size: 20px;
    padding: 12px 0;
    display: flex;
}

.list-developments .item a {
    text-decoration: none;
}

.list-developments .item a:hover {  
    font-weight: 600;
    border-bottom: 1px solid #2D66EE;
}

.list-developments img {
    margin-left: 12px;
    padding: 6px 8.5px;
}